.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.425);
    animation: animate-modal 0.2s;
}

.modal-box{
    display: flex;
    flex-direction: column;
    background-color:white;
    margin: 5% auto;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    width: 60%;
    max-height: 75%;
    animation: popup 0.4s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

@media(max-width: 800px){

    .modal-box{
        width: 95%;
    }

}

.modal-content{
    flex: 1;
    overflow-y: auto;

}

.modal-footer button{
    font-size: 15px;
    border-radius: 5%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: rgba(189, 189, 189, 0.582);
    transition:  ease-in-out 0.2s;
    transition: box-shadow background-color ease-in-out 0.2s;
}

.modal-footer button:hover{
    box-shadow: rgba(122, 122, 122, 0.671) 0px 0px 0px 3px;

}

.modal-footer button:active{
    transition: ease-in-out 0.1s;
    background-color: rgba(122, 122, 122, 0.671);

}

.modal-header{
    padding: 0px 10px 5px 10px;
    border-bottom:1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-span{
    color: gray;
    font-size: 30px;
    cursor: pointer;
}

.close-span:hover{
    color: rgb(70, 70, 70);
    }

.modal-footer{
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
    border-top:1px solid gray;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer-text{
    color: #363946;
}

.modal-title{
    color:#363946
}

.modal table{
    width: 100%;
}

.show{
    display: block;
}

.hide{
    display: none;
}

@keyframes popup{
    from {transform: scale(0.95); 
        opacity: 0;
        }
    to {transform: scale(1); 
        opacity: 1;
        }
}

@keyframes popup-reverse{
    from {
        opacity: 1;
        }
    to {transform: scale(0.95); 
        opacity: 0;
        }
   
}

@keyframes animate-modal{
    from{opacity: 0;}
    to{opacity: 1;}
}